.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        i {
            color: #6c757d;
        }
        .badge{
            font-size: .6rem;
        }
    }

    .admin-box{
        &::after{
            display: none;
        }
        p{
            margin-top: -8px;
        }
    }
}