.main{
    background-color:#f2f7ff;
    height:100vh;
    position: relative;
    transition: all .5s;
    width: 100%;
    direction: rtl;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-color: #aaa #f1f1f1;
    scrollbar-width: thin;
        /* Firefox */
        &::-webkit-scrollbar-track {
            background-color: #fff;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #fff;
        }
    
        &:hover {
            &::-webkit-scrollbar-track {
                background-color: #f1f1f1;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: #aaa;
            }
    
            &::-webkit-scrollbar-thumb:hover {
                background-color: #646464;
            }
        }
}
@media (min-width:992px){
    .main{
        width: calc(100% - 3.5rem);
    }
}

.main-toggle{
    width: calc(100% - 200px);
}
