.sidebar {
    width: 4rem;
    height: 100vh;
    position: relative;
    background-color: white;
    transition: all .5s;
    padding-right: .8rem;
    font-size: 15px;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-color: #aaa #f1f1f1;
    scrollbar-width: thin;

    /* Firefox */
    &::-webkit-scrollbar-track {
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #fff;
    }

    &:hover {
        &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #aaa;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #646464;
        }
    }

    .sidebar-btn {
        cursor: pointer;
    }


    ul {
        padding-left: 0.5rem;

        .sidebar-item {
            overflow: hidden;

            .item-box {
                overflow: hidden;
                display: flex;
                align-items: center;
                color: #25396f;
                transition: all .5s;
                padding: 0.5rem 0.38rem 0.15rem 0.5rem;
                border-radius: 8px;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: #f0f1f5;
                }

                .bi-chevron-down {
                    margin-right: auto;
                    font-size: .8rem;
                }

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }

            .submenu {
                display: none;

                .submenu-item {
                    a {
                        padding: .3rem 1rem;
                        display: block;
                        color: #25396f;
                        transition: all .3s;

                        font: {
                            size: .85rem;
                            weight: 600;
                        }

                        &:hover {
                            padding-right: 1.4rem;
                            color: #486dd1;

                        }
                    }
                }
            }
        }

        .sidebar-item.active {
            .item-box {
                background-color: #435ebe;
            }

            span,
            i {
                color: #ffffff;
            }
        }
    }

    h4 {
        opacity: 0;
        transition: all .3s;
    }

}


.sidebar-toggle {
    width: 200px;

    .sidebar-item {
        .item-box {
            &:hover {
                background-color: #f0f1f5;
            }
        }
    }

    h4 {
        opacity: 1;
    }
}