/* Utilities */
body {
  direction: rtl;
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
  padding-right: 0;
}

p {
  line-height: 27.6px;
}

a {
  text-decoration: none;
}

.lh-0 {
  line-height: 0;
}

.ltr {
  direction: ltr;
}

.en-number{
  font-family: math;
}

i {
  color: #7c8db5;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.bg-red {
  background-color: #ff7976;
}

.bg-purpel {
  background-color: #9694ff;
}

.bg-blue {
  background-color: #57caeb;
}

.bg-green {
  background-color: #5ddab4;
}

.text-gray-600 {
  color: #6c757d;
}

.dropdown-menu {
  text-align: right;
}

.user-id {
  direction: ltr;
  font-family: math;
}

.btn-light-primary {
  background-color: #ebf3ff;
  color: #002152;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid #ebf3ff;
  }
  &:active {
    border: 2px solid #ebf3ff !important;
  }
}